/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  .header h1 {
    font-size: 50px;
    color: #032b3e;
    text-align: center;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 20px;
    width: 100%;
  }
  
  .gridItem {
    padding: 10px;
  }
  
  .gridItem button {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #032b3e;
    color: white;
    font-size: 18px;
    outline: none;
    padding: 25px 15px;
  }
  
  .gridItem button:hover {
    font-size: 20px;
    box-shadow: 0px 0px 15px white;
  }
  
