.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

.header h1 {
  font-size: 50px;
  color: #395cd8;
  text-align: center;
  margin-bottom: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.gridItem {
  padding: 10px;
}

.gridItem button {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #395cd8;
  /* background-image: url('/sethoscope.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px); */

  background-position: center;
  color: white;
  font-size: 32px; /* Further increased font size */
  outline: none;
  padding: 50px 40px; /* Further increased padding   */
  transition: all 0.3s ease;
  font-weight: bold;
}

.gridItem button:hover {
  font-size: 34px; /* Further increased font size on hover */
  box-shadow: 0px 0px 15px white;
}

/* Media Queries for different screen sizes */
@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 40px;
  }

  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .gridItem button {
    padding: 45px 35px; /* Adjusted padding for smaller screens */
    font-size: 28px; /* Adjusted font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 30px;
  }

  .gridItem button {
    padding: 40px 30px; /* Adjusted padding for very small screens */
    font-size: 26px; /* Adjusted font size for very small screens */
  }
}
