.container{
    background: linear-gradient(
        to right,
        green 0%,
        white 30%,
        green 100%
    ) ;
    
    height: 100vh;
    position: relative;
    top: 20px;
}
.container2{
    position: relative;
    top: 10px;
    box-shadow: 0px 0px 20px white;
    height: 32vh;
    width: 60%;
    margin: 0 auto;
    border-radius: 40px;
}

.container h1{
    text-align: center;
    font-size: 80px;
    color: green;
   
    
}
.container span{
    background-color: white;
    border-radius: 20px;
    font-size: 80px;
    box-shadow: 0px 0px 18px green;
}
.container2 p{
    text-align: center;
    font-size: 25px;
    color: green
}
.help{
    text-align: center;
    font-size: 40px;
    color: green
}

.reason{
    display: flex;
    margin-left: 500px;
    justify-content: space-between ;
    
}
.one{
    width: 30%;
    /* border: 1px solid white; */
    position: relative;
    right: 150px;
    
}
.linkone{
    text-decoration: none;
}
.one p{
    color: black;
    font-size: 25px;
    text-align: center;
}
.one img{
    height: 230px;
    width: 307px;
    
}
.one span{
    background-color: white;
    border-radius: 50px;
    font-size: 50px;
    box-shadow: 0px 0px 18px green;
    margin-left: 140px;
}
.two{
    width: 30%;
    /* border: 1px solid white; */
    position: relative;
    right: 350px;
}
.linktwo{
    text-decoration: none;
}
.two p{
    color: black
}
.two span{
    background-color: white;
    border-radius: 20px;
    font-size: 50px;
    box-shadow: 0px 0px 18px green;
    margin-left: 140px;
}
.two p{
    color: black;
    font-size: 25px;
    text-align: center;
}
.two img{
    width: 307px;
    height: 215px;
}
.container img{
    outline: 5px solid white;
}
