.main{
    position: relative;
    overflow: hidden;
    height: 89vh;
}


.container{
  border: 1px solid black;
  border-radius: 20px;
  width: 23%;
  height: 50%;
  position: relative;
  left: 550px;
  top: 100px;
 
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}
.container input{
  width: 80%;
  height: 40px;
  margin-left: 28px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
}
.container input::placeholder{
  text-align: center;
  color: black; 
  font-size: 15px;
}
.container h2{
  text-align: center;
}
.container button{
  width: 55%;
  height: 40px;
  border-radius: 10px;
  background-color: #032b3e;
  position: relative;
  left: 80px;
  color: white;
  cursor: pointer;
}
.link1{
  text-decoration: none;
  text-align: center;
  color: black;
  margin-left: 110px;
}
.link1:hover{
  text-decoration: underline;
}
.authPhrase{
  text-align: center;
  color: red;
}